.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 11px 17px;
  background: #f5faff;
  border-bottom: 1px solid #e8e8e8;
  flex-wrap: wrap;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo-olx {
width: 60px;
  height: auto;
  display: block;
}

.location-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  background: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0px 8px 0px 16px;
  color: #130034;
  width: 350px;
  box-sizing: border-box;
   height: 48px;
}

   
    

.navbar-search {
  padding: 0px 0px 0px 1px;
  flex: 1;
  display: flex;
  max-width: 600px;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  overflow: hidden;
  height: 48px;

  
}

.navbar-search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 14px;
  font-size: 15px;
}

.search-btn {
  background: #0078fa;
  border: none;
  padding: 0 18px;
  cursor: pointer;
  border-radius: 17px;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: #002f34;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.sell-btn {
  position: relative;
  background: white;
  border: none;
  border-radius: 999px;
  padding: 11px 24px;
  font-size: 14px;
  font-weight: 700;
  color: #002f34;
  cursor: pointer;
  z-index: 1;

  /* Shadow */
  box-shadow: 0 2px 8px rgba(0, 47, 52, 0.2);

  transition: all 0.2s ease;
}

.sell-btn::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 999px;
  background: linear-gradient(
    90deg,
    #23e5db 0%,
    #04c3b9 30%,
    #fac106 30%,
    #f1ca47 70%,
    #054de9 70%,
    #3a77ff 100%
  );
  z-index: -2;
}

.sell-btn::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #fff;
  border-radius: 999px;
  z-index: -1;
}

.sell-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0, 47, 52, 0.3);
}

.sell-btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 8px rgba(0, 47, 52, 0.2);
}

.bell-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-sm {
  width: 16px;
  height: 16px;
}

.icon-md {
  width: 22px;
  height: 22px;
}